* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid gold;
  padding: 15px;
  cursor: pointer;

}